@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/nexabold.ttf)
}

$font-Nexa:                  'Nexa Bold', sans-serif;
$font-Open-Sans:             'Open Sans', sans-serif;
$font-Montserrat:             Montserrat, sans-serif;
$font-Lato:                   Lato, sans-serif;

$main-blue:                   #1a9bdc;
$main-background-color:       #eee;
$main-gray:                   #c2c2c2;
$link-color:                  #6c6c6c;
$link-hover-color:            #aaa;
$heading-color:               #494949;
$subheading-color:            #6f6f6e;
$text-color:                  #6a6a6a;
$darker-blue:                 #0087be;
$white:                       #ffffff;
$button-hover-color:          #8a9bdc;
$featutures-color1:           #43b1d2;
$featutures-color2:           #3fb6c6;
$featutures-color3:           #3cbbbb;
$featutures-color4:           #37c3a8; 
$lighter-gray:                #e2e2e2;
$contacts-background-color:   #171717;
$footer-background-color:     #1a1a1a;
$footer-text-color:           #615555;
$socials-header-color:        #191919;

$font-size-subheading:        20px;
$font-size-large-text:        23px;
$font-size-small-text:        13px;
$font-size-main-heading:      48px;
$font-size-main-text:         17px;
$font-size-text:              16px;
$font-size-btn:               18px;
$font-size-heading:           30px;
$font-size-achev-num:         60px;
$font-size-achev-text:        25px;