.main-info {
    @media (max-width: 740px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    div {
        @media (max-width: 1240px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        @media (max-width: 740px) {
            float: none;
            margin-right: 0;
        }
    }
    
    &__img {
        width: 51px;
        height: 51px;
        background-color: $main-blue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 19px;
        animation: contact-img 2s infinite;
    }
    
    &__work-time,
    &__mail-us {
        margin-right: 50px;
    }
    
    
}

@keyframes contact-img {
    0% {
        transform: scale(0.9);
    }
    
    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(0.9);
    }
}