.our-team {
    padding: 140px 200px;
    box-sizing: border-box;
    
    @media (max-width: 1550px) {
        padding: 94px 50px;
    }
    
    @media (max-width: 690px) {
        padding: 50px 10px;
    }
    
    &__heading {
        color: $heading-color;
        font-family: $font-Montserrat;
        font-size: $font-size-main-heading;
        font-weight: 700;
        text-align: center;
    }
    
    &__text {
        color: $text-color;
        font-family: $font-Open-Sans;
        font-size: $font-size-text;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        margin: 50px 0 84px;
    }

}