.socials {
    width: 213px;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-large-text;
    font-weight: 400;
    letter-spacing: 1.8px;
    
    &__link {
        transition-duration: 0.5s;
        
        &:hover {
            transform: scale(1.5);
        }        
    }
    
    &__fa {
        &--header{
            color: $socials-header-color;
            
            &:hover {
                color: $link-hover-color;
            }
        }        
        
        &--contacts {
            color: $white;
            transition-duration: 0.5s;
            
            &:hover {
                opacity: 0.51;
            }
        }
    }
    
    &--header {
        margin-top: 33px;
        float: right;
    }
}
