@font-face {
    font-family: "Nexa Bold";
    src: url(../fonts/nexabold.ttf)
}

* {
    margin: 0;
    padding: 0;
}

.clearfix {
    content: '';
    clear: both;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    min-height: 100%;
}

.page-header {
    padding: 37px 185px 36px 200px;
    box-sizing: border-box;
}

.logo--header {
    float: left;
    transition-duration: 1s;
}

.logo:hover {
    background-color: #eee;
    transform: rotateZ(3turn);
}

.page-header__contacts {
    float: right;
    font-family: 'Open Sans', sans-serif;
}

.page-header__contacts div {
    float: left;
}

.main-info__img {
    width: 51px;
    height: 51px;
    background-color: #1a9bdc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    animation: contact-img 2s infinite;
}

@keyframes contact-img {
    0% {
        transform: scale(0.9);
    }
    
    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(0.9);
    }
}

.main-info__work-time {
    margin-right: 50px;
}

.main-info__mail-us {
    margin-right: 50px;
}

hr {
    margin-top: 20px;
    margin-left: 14px;
    width: 98%;
    height: 2px;
    background-color: #c2c2c2;
    opacity: 0.31;
}

.main-nav--header {
    margin-top: 33px;
    float: left;
}

a {
    text-decoration: none;
}

.main-nav__list,
.main-nav-xs__list {
    list-style: none;
    float: left;
}

.main-nav__list li,
.main-nav-xs__list {
    display: inline-block;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 0 11px;
    transition-duration: 0.5s;
}

.main-nav__link {
    color: #6c6c6c;
}

.main-nav-xs {
    display: none;
    position: relative;
}

.main-nav-xs__list li {
    padding: 10px 0;
    text-align: center
}

.burger {
    width: 100px;
    height: 70px;
    background: #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 20px;
}

.main-nav-xs__list {
    position: absolute;
    top: 110px;
    left: 4px;
    opacity: 0;
}

.burger:hover .main-nav-xs__list {
    opacity: 1;
}

.burger__heading {
    font-family: 'Nexa Bold', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.socials {
    width: 213px;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.socials--header {
    margin-top: 33px;
    float: right;    
}

.socials__link {
    transition-duration: 0.5s;
}

.socials__fa--header {
    color: #191919;
}

.main-nav__link:hover {
    color: #aaa;
}

.main-nav__list li:hover{
    transform: scale(1.1);
}

.socials__fa--header:hover {
    color: #aaa;
}

.socials__link:hover {
    transform: scale(1.5);
}

.plan-options {
    padding: 180px 0 0 250px;
    box-sizing: border-box;
    min-height: 640px;
    background-image: url(../images/bg-fade.png);
    animation: background 15s infinite;
    position: relative;
}

.plan-options__desc img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 15s infinite;
    z-index: -1;
}

.plan-options__desc img:nth-child(2) {
    animation-delay: 5s;
}

.plan-options__desc img:nth-child(3) {
    animation-delay: 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    
    15% {
        opacity: 1;
    }
    
    33.33% {
        opacity: 1;
    }
    
    45% {
        opacity: 0;
    }
    
    100% {
        opacity: 0;
    }
}

.plan-options__desc {
    max-width: 524px;
}

.plan-options__heading {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -2.3px;
    line-height: 52px;
    text-align: center;
}

.plan-options__text {
    margin-top: 37px;
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.read-more {
    width: 166px;
    height: 47px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;   
}

.read-more--plan-options {
    margin-top: 42px;
    margin-left: calc(50% - 83px);     
}

.read-more:active {
    cursor: pointer;
    box-shadow: none;
}

.read-more:hover {
    cursor: pointer;
    background-color: #8a9bdc;
    animation: pulse-button 2s infinite;
}

@keyframes pulse-button {
    0% {}
    
    25% {
        transform: scale(1.1);
    }
    
    50% {
        transform: scale(0.9);
    }
    
    75% {
        transform: scale(0.9);
    }
    
    100% {}
}

.feautures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.feautures__part1,
.feautures__part2,
.feautures__part3,
.feautures__part4 {
    padding: 77px 70px 57px;
    box-sizing: border-box;
}

.feautures__part1 {
    background-color: #43b1d2;
}

.feautures__part2 {
    background-color: #3fb6c6;
}

.feautures__part3 {
    background-color: #3cbbbb;
}

.feautures__part4 {
    background-color: #37c3a8;
}

.feautures__img {
    width: 75px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(50% - 37.5px);
}

.feautures__heading {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    text-align: center;
    margin-top: 24px;
}

.feautures__text {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
}

.why-choose-us {
    padding: 110px 200px 0;
    box-sizing: border-box;
}

.why-choose-us__descr {
    max-width: 850px;
    margin-left: calc(50% - 425px);
}

.why-choose-us__heading {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.why-choose-us__text {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.why-choose-us__options {
    display: grid;
    grid-template-areas: "option1 option-doc option2"  
                         "option3 option-doc option4";
    grid-template-columns: 363px 1fr 363px;
    grid-template-rows: auto auto;
    margin-top: 25px;
}

.why-choose-us__option1 {
    grid-area: option1;
}

.why-choose-us__option2 {
    grid-area: option2;
}

.why-choose-us__doctor {
    grid-area: option-doc;
    display: flex;
    justify-content: center;    
}

.why-choose-us__option3 {
    grid-area: option3;
}

.why-choose-us__option4 {
    grid-area: option4;
}

.professional-option__icon {
    width: 75px;
    height: 75px;
    background-color: #1a9bdc;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 90px;
}

.professional-option__heading {
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.82px;
    margin-left: 94px;
    margin-top: 105px;
}

.professional-option__text {
    color: #494949;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 40px;
    text-align: justify
}

.achievements {
    padding: 160px;
    box-sizing: border-box;
    background: linear-gradient(#0087be, #0087be), url(../images/bg-pale.png) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.achievement {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievement__icon {
    transition-duration: 1s;
}

.achievements__item1 img:hover {
    cursor: pointer;
    transform-origin: center bottom;
    transform: scale(1.2);    
}

.achievements__item2 img:hover {
    cursor: pointer;
    animation: pulse 0.8s infinite;   
}

@keyframes pulse {
    0% {}
    
    48% {
        transform: scale(1.1);
    }
    
    60% {
        transform: scale(1.4);
    }
    
    88% {
        transform: scale(1.1);
    }
    
    100% {}
}

.achievements__item3 img:hover {
    cursor: pointer;
    animation: move 1s linear infinite;   
}

@keyframes move {
    0%{}
    
    25% {
        transform: translate3d(10px, -15px, 0);
    }
    
    50% {
        transform: translate3d(20px, 10px, 0);
    }
    
    75% {
        transform: translate3d(-10px, 10px, 0);
    }
    
    100% {}
}

.achievements__item4 img:hover {
    cursor: pointer;
    animation: breath 3s infinite;   
}

@keyframes breath {
    0%{}
    
    30% {
        transform: scale(1.3);
    }
    
    40% {
        transform: scale(1.3);
    }
    
    60% {}
    
    100%{}
}

.achievement__number{
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -1.19px;
    line-height: 60px;
    margin-top: 45px;
}

.achievement__text {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.52px;
    text-align: center;
    line-height: 25px;
}

.achievement__line {
    width: 84px;
    height: 6px;
    background-color: #ffffff;
    margin: 26px 0;
}

.works-creative {
    padding: 100px 210px;
    display: grid;
    grid-template-columns: 335px 335px 407px;
    grid-template-rows: auto auto auto;
    grid-gap: 50px;
}

.how-we-works,
.read-more--work-creative {
    grid-column: 1/3;
}

.how-we-works__heading,
.our-creative__heading {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.how-we-works__text,
.our-creative__text,
.how-we-works-item__text,
.accordeon__content {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

.how-we-works-item__heading {
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.21px;
    margin-top: 35px;
}

.how-we-works-item__subheading {
    color: #0087be;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.38px;
    margin: 13px 0 27px;
}

.fa-caret-right {
    color: #0087be;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 24px;
}

.accordeon__btn--active,
.accordeon__btn {
    width: 40px;
    height: 40px;
    background-color: #f9fcfd;
    border-radius: 50%;
    border: none;
    float: left;
    font-size: 23px;
    padding-left: 5px;
}

.accordeon__unit--active,
.accordeon__unit {
    width: 422px;
    height: 54px;
    border-radius: 27px;
    padding: 7px 8px;
    box-sizing: border-box;
    cursor: pointer;
}

.accordeon__unit--active {
    background-color: #0087be;    
}

.accordeon__unit {
    background-color: #e2e2e2;
}

.accordeon__heading {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 7px 0 0 60px;    
}

.accordeon__content {
    margin: 15px 0 40px;
}

.accordeon__unit:not(:last-child) {
    margin-bottom: 12px;
}

.accordeon__unit--active:hover button,
.accordeon__unit:hover button {
    background-color: #c2c2c2;
}

.read-more--work-creative {
    margin-top: 0;
    margin-left: calc(50% - 83px);
}

.gallery {
    padding: 94px 250px;
    box-sizing: border-box;
    background: linear-gradient(#38b69e, #38b69e), url(../images/bg-hall.jpg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}

.gallery__heading {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.gallery__text,
.card__text{
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 35px 0 54px;
}

.gallery__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.gallery__item {
    position: relative;
    width: 340px;
    height: 210px;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__front,
.card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
}

.card__back {
    transform: rotateY(180deg);
    background-image: linear-gradient(to right, #1cd3a2, #30ba8f);
}

.gallery__item:hover {
    cursor: pointer;
}

.gallery__item:hover .card__front {
    transform: rotateY(180deg);
}

.gallery__item:hover .card__back {
    transform: rotateY(360deg);
}

.our-team {
    padding: 140px 200px;
    box-sizing: border-box;
}

.our-team__heading {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.our-team__text {
    color: #6a6a6a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 50px 0 84px;
}

.team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.teammate__name {
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
    font-size: 23px;
    font-weight: 500;
    margin-top: 30px;
}

.teammate__position {
    color: #6f6f6e;
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -1.09px;
    margin-top: 15px;
}

.teammate {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.teammate__img {
    transition-duration: 0.5s;
    cursor: pointer;
}

.teammate__foto:hover .teammate__img {
    transform: translateY(-150px) scale(0);
}

.teammate__register {
    width: 279px;
    height: 279px;
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #1cd3a2, #30ba8f);
    border-radius: 50%;
    transform: scale(0);
    transition-duration: 0.5s;
}

.teammate__foto:hover .teammate__register {
    transform: scale(1);
    transform-origin: center bottom;
}

.register-btn {
    width: 166px;
    height: 47px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #0087be;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    cursor: pointer;
    transform: scale(0);
    transition-duration: 0.2s;
    transition-delay: 0.5s
}

.teammate__foto:hover .register-btn {
    transform: scale(1);
}

.register-btn:hover {
    background-color: #8a9bdc;
    animation: pulse-button 2s infinite;
}

.teammate__socials {
    margin-top: 30px;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 1.8px;
}

.teammate__social-fa {
    color: #0087be;
    transition-duration: 0.5s;
}

.teammate__social-fa:hover {
    color: #aaa;    
    transform: scale(1.5);
}

.consultation {
    background-color: #e2e2e2;
    padding: 80px 16% 65px;
}

.consultation__text {
    color: #494949;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    float: left;
}

.read-more--consultation {
    margin: 0;
    float: right;
}

.contacts {
    background-color: #171717;
    padding: 110px 200px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.get-in-touch__heading,
.quick-links__heading,
.our-services__heading,
.enquiry-form__heading {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.55px;
    margin-bottom: 70px;
}

.git-unit__text {
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.git-unit__img {
    float: left;
}

.git-unit__text {
    margin-left: 80px;
}

.get-in-touch__item {
    margin-bottom: 60px;
}

.socials__fa--contacts {
    color: #fff;
    transition-duration: 0.5s;
}

.socials__fa--contacts:hover {
    opacity: 0.51;
    transform: scale(1.1);
}

.quick-links__link,
.our-services__link {
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding-left: 21px;
}

.quick-links__menu li,
.our-services__menu li {
    list-style: none;
}

.quick-links__menu li:not(:last-child),
.our-services__menu li:not(:last-child) {
    margin-bottom: 20px;
}

.quick-links__link:hover,
.our-services__link:hover {
    opacity: 1;
}

.quick-links,
.our-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-form__name,
.contacts-form__phone,
.contacts-form__message {
    display: block;
    opacity: 0.51;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    background: none;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.contacts-form__message {
    resize: none;
    height: 100px;
}

.form-submit {
    width: 166px;
    height: 47px;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    background-color: #0087be;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.32px;
}

.form-submit:hover {
    cursor: pointer;
    background-color: #8a9bdc;
    animation: pulse-button 2s infinite;
}

.enquiry-form {
    padding-left: 90px;
}

footer {
    margin: 0 auto;    
}

.page-footer {
    min-height: 110px;
    background-color: #1a1a1a;
    max-width: 1600px;
}

.page-footer__text {
    color: #615555;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 55px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 1470px) {
    .page-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo--header {
        margin-bottom: 35px;
    }
    
    .logo:hover {
        transform: none;
    }
}

@media (max-width: 1240px) {
    .main-info div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .page-header__contacts div:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media (max-width: 1020px) {
    .page-header {
        padding: 37px 50px 36px 50px;
    }
}

@media (max-width: 740px) {
    .page-header {
        padding: 37px 10px 36px 10px;
    }
    
    .main-info div {
        float: none;
        margin-right: 0;
    }
    
    .main-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .main-nav {
        display: none;
    }
    
    .main-nav-xs {
        display: inline-block;
        float: left;
    }
    
    .plan-options__heading {
        font-size: 36px;
    }
}

@media (max-width: 1040px) {
    .plan-options {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1570px) {
    .feautures__part1,
    .feautures__part2,
    .feautures__part3,
    .feautures__part4 {
        padding: 77px 20px 57px;
    }
}

@media (max-width: 1170px) {
    .featutures {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 580px) {
    .featutures {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1480px) {
    .why-choose-us__options {
         grid-template-columns: 1fr 1fr 1fr;
    }
    .why-choose-us__descr {
        margin-left: 0;
    }
}

@media (max-width: 1180px) {
    .why-choose-us {
        padding: 110px 50px 0;
    }
}

@media (max-width: 1020px) {
    .why-choose-us {
        padding-bottom: 30px;
    }
    
    .why-choose-us__options {
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "option1 ."
                             "option2 option-doc"  
                             "option3 option-doc"
                             "option4 .";
    }
}

@media (max-width: 730px) {
    .why-choose-us {
        padding: 110px 20px 30px;
    }
    
    .why-choose-us__options {
        grid-template-columns: 1fr;
        grid-template-areas: "option-doc"
                             "option1"
                             "option2"   
                             "option3"
                             "option4";
    }
    
    .why-choose-us__heading {
        font-size: 30px;
    }
    
    .professional-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }
    
    .why-choose-us__doctor img {
        width: 300px;
    }
    
    .professional-option__heading {
        margin: 30px 0 0;
    }
}

@media (max-width: 1540px) {
    .achievements {
        padding: 160px 20px;
    }
}

@media (max-width: 1270px) {
    .achievement {
        padding: 0 20px;
    }
}

@media (max-width: 970px) {
    .achivements {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 70px;
        padding: 50px 20px;
    }
}

@media (max-width: 550px) {
    .achivements {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1580px) {
    .works-creative {
        padding: 100px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 1350px) {
    .works-creative {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    
    .how-we-works__visiting {
        grid-row: 2/3;
    }
}

@media (max-width: 1020px) {
    .accordeon__unit,
    .accordeon__unit--active {
        width: 300px;
    }
}

@media (max-width: 930px) {
    .works-creative {
        grid-template-columns: 1fr;
        padding: 50px 20px;
    }
    
    .works-creative>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .how-we-works {
        grid-column: 1/2;
    }
    
    .how-we-works__visiting {
        grid-row: auto;
    }
    
    .read-more--work-creative {
        grid-column: 1/2;
    }
}

@media (max-width: 1580px) {
    .gallery {
        padding: 94px 100px;
    }
}

@media (max-width: 1320px) {
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .gallery__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) {
    .gallery {
        padding: 50px 30px;
    }
    
    .gallery__cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 370px) {
    .gallery__item {
        width: 300px;
    }
}

@media (max-width: 1550px) {
    .our-team {
        padding: 94px 50px;
    }
}

@media (max-width: 1250px) {
    .team {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
}

@media (max-width: 690px) {
    .our-team {
        padding: 50px 10px;
    }
    
    .team {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1550px) {
    .consultation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .consultation__text {
        text-align: center;
    }
    
    .read-more--consultation {
        margin-top: 30px;
    }
}

@media (max-width: 520px) {
    .consultation {
        padding: 80px 20px 65px;
    }
}

@media (max-width: 1350px) {
    .contacts {
        padding: 100px 50px;
    }
}

@media (max-width: 1020px) {
    .contacts {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
    }
    
    .quick-links,
    .our-services {
        display: block;
    }
    
    .enquiry-form {
        padding-left: 0;
    }
}

@media (max-width: 620px) {
    .contacts {
        padding: 50px 30px;
        grid-template-columns: 1fr;
    }
    
    .get-in-touch,
    .quick-links,
    .our-services,
    .enquiry-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}